.select2-container {
    position: relative;
    width: 100%;
}

.select2-selection {
    margin: 0 !important;
    padding: 0 !important;
    cursor: text;
    overflow: hidden;
    position: relative;
}

.select2-selection {
    min-height: 0 !important;
    display: block !important;
}

.select2-selection__rendered {
    display: block !important;
    min-height: 26px !important;
    padding: 4px 5px;
    border: 1px solid #c1cad9;
    font-size: 13px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#efefef),color-stop(10%,#fff),color-stop(90%,#fff),color-stop(90%,#efefef));
    background-image: -webkit-linear-gradient(#efefef,#fff 10%,#fff 90%,#efefef);
    background-image: -o-linear-gradient(#efefef,#fff 10%,#fff 90%,#efefef);
    background-image: linear-gradient(#efefef,#fff 10%,#fff 90%,#efefef);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: .23rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 4px 5px;
}

.select2-dropdown {
    margin-top: -2px !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.select2-container--open .select2-selection--multiple {
    box-shadow: none !important;
    border: 0 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    box-shadow: none !important;
    border: 0 !important;
}

.select2-selection__choice {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #c1cad9 !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#efefef),color-stop(10%,#fff),color-stop(90%,#fff),color-stop(90%,#efefef));
    background: -webkit-linear-gradient(#efefef,#fff 10%,#fff 90%,#efefef);
    background: -o-linear-gradient(#efefef,#fff 10%,#fff 90%,#efefef);
    background: linear-gradient(#efefef,#fff 10%,#fff 90%,#efefef);
    color: #43536d;
    line-height: 16px;
    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
    padding: 3px 20px 3px 5px !important;
    margin: 3px 5px 3px 0 !important;
    position: relative;
    cursor: default;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.select2-selection__choice .select2-selection__choice__remove {
    display: block;
    position: absolute;
    right: 2px;
    top: 6px;
    width: 12px;
    height: 11px;
    font-size: 1px;
    background: url('../../admin/client/dist/images/chosen-sprite.png') right top no-repeat;
}

.select2-container--default .select2-selection--multiple {
    background: transparent;
    border-radius: 0;
    border: 0;
}

.select2-results__option--highlighted {
    background-color: #3875d7 !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 ) !important;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc)) !important;
    background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%) !important;
    background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%) !important;
    background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%) !important;
    background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%) !important;
    background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%) !important;
    color: #fff !important;
}
