.field.tag span.tagMatches {
    margin-left: 10px;
}

.field.tag  span.tagMatches span {
    padding: 2px;
    margin-right: 4px;
    background-color: #0000AB;
    color: #fff;
    cursor: pointer;
}