language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0

sudo: false

env:
    - DB=MYSQL CORE_RELEASE=3.1

before_script:
    - git clone git://github.com/silverstripe-labs/silverstripe-travis-support.git ~/travis-support
    - php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss
    - cd ~/builds/ss

script:
    - vendor/bin/phpunit --coverage-clover coverage.clover tagfield/tests
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover --repository=g/silverstripe-labs/silverstripe-tagfield

branches:
    only:
        - master

matrix:
    allow_failures:
        - php: 7.0
